In [1]:
import pandas as pd
import numpy as np

In [66]:
serie_datetime64 = pd.date_range("1/1/2012", periods=144, freq="H")
serie_datetime64

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               ...
               '2012-01-06 14:00:00', '2012-01-06 15:00:00',
               '2012-01-06 16:00:00', '2012-01-06 17:00:00',
               '2012-01-06 18:00:00', '2012-01-06 19:00:00',
               '2012-01-06 20:00:00', '2012-01-06 21:00:00',
               '2012-01-06 22:00:00', '2012-01-06 23:00:00'],
              dtype='datetime64[ns]', length=144, freq='H')

In [70]:
serie_int64 = pd.Series(1, index=serie_datetime64)
serie_int64

2012-01-01 00:00:00    1
2012-01-01 01:00:00    1
2012-01-01 02:00:00    1
2012-01-01 03:00:00    1
2012-01-01 04:00:00    1
                      ..
2012-01-06 19:00:00    1
2012-01-06 20:00:00    1
2012-01-06 21:00:00    1
2012-01-06 22:00:00    1
2012-01-06 23:00:00    1
Freq: H, Length: 144, dtype: int64

In [68]:
serie_int64.resample('1D').sum()

2012-01-01    24
2012-01-02    24
2012-01-03    24
2012-01-04    24
2012-01-05    24
2012-01-06    24
Freq: D, dtype: int64

In [71]:
serie_int64.dtypes

dtype('int64')

In [84]:
df = pd.DataFrame(
    {
        "A": serie_datetime64,
        "B": 1.0,
        "C": np.arange(144),
    }
)

In [85]:
df

                      A    B    C
0   2012-01-01 00:00:00  1.0    0
1   2012-01-01 01:00:00  1.0    1
2   2012-01-01 02:00:00  1.0    2
3   2012-01-01 03:00:00  1.0    3
4   2012-01-01 04:00:00  1.0    4
..                  ...  ...  ...
139 2012-01-06 19:00:00  1.0  139
140 2012-01-06 20:00:00  1.0  140
141 2012-01-06 21:00:00  1.0  141
142 2012-01-06 22:00:00  1.0  142
143 2012-01-06 23:00:00  1.0  143

[144 rows x 3 columns]

In [86]:
df.resample('1D',on='A').sum()

               B     C
A
2012-01-01  24.0   276
2012-01-02  24.0   852
2012-01-03  24.0  1428
2012-01-04  24.0  2004
2012-01-05  24.0  2580
2012-01-06  24.0  3156